body, html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
}

.decisionfields {
    height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: row;
}

.title-words {
    width: 100%;
    position: absolute;
    top: 10%;
    text-align: center;
    color: #FFF;
}

.title-words h2 {
    font-size: 3.5rem;
}

.new-farmer-side, .returning-farmer {
    height: 100vh;
    min-width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.new-farmer-side {
    background: #58a5f0;
}

.returning-farmer {
    background: #004c8c;
}

.button-holder {
    display: flex;
    align-items: center;
}

.choice-button {
    background: none;
    font-size: 1.4rem;
    border: none;
    box-shadow: #FFF 0 0 15px ;
    border-radius: 10px;
    padding: 1rem;
    color: #FFF;
    margin: 0 auto;
    max-height: 4rem;
    cursor: pointer;
    outline: none;
}


.new-farmer-window, .returning-farmer-window {
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: rgba(255,255,255, 0.85);
    position: absolute;
    display: none;
    flex-direction: column;
    text-align: center;
}

.show {
    display: flex !important;
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    width: 70%;
    margin: 0 auto;
}

form input {
    margin-bottom: 2rem;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(42,42,42, 0.7);
    outline: none;
    opacity: 0.7;
    transition: 0.3s ease-in;
    font-size: 1rem;
}

form input:focus {
    opacity: 1;
    border-bottom: 1px solid rgba(42,42,42, 1);
}

form input[type="submit"] {
    background: #FFF;
    margin-top: 2rem;
    color: #000;
    font-size: 1rem;
    padding: 0.4rem 0 ;
    cursor: pointer;
}

.offer-holder {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.img-holder {
    max-width: 60%;
    margin: 0 auto 2rem;
}

.img-holder img {
    width: 100%;
}

.offer {
    padding: 2rem;
    background: #FFF;
    box-shadow: 0 0 10px 0 #424242;
    margin: 1rem auto 1rem;
    height: fit-content;
}